coloredlogs==15.0.1
flatbuffers==24.3.25
humanfriendly==10.0
matlabengine==24.1.2
mpmath==1.3.0
numpy==1.26.4
onnxruntime==1.18.0
packaging==24.1
protobuf==5.27.1
sympy==1.12.1
-e git+ssh://git@github.com/sammsaski/VVN.git@36bcc6d0cf256a54b9e9191e26234a98df9a4065#egg=vvn&subdirectory=src
